name: Build and Deploy Artifact
on:
  workflow_call:
jobs:
  pre_build:
    uses: elevatedthird/actions/.github/workflows/pre_build.yml@main

  test_and_build:
    name: Test and Build project
    runs-on: ubuntu-latest
    needs: pre_build
    env:
      composer_version: '2.5.4'
    steps:
      - uses: actions/checkout@v4
      - name: Dotenv Action
        uses: falti/dotenv-action@v1.1.2
        with:
          path: .env
          export-variables: true
          export-variables-prefix: DOTENV_
          keys-case: bypass

      - name: Enable Debug Logging
        run: echo "ACTIONS_STEP_DEBUG=true" >> $GITHUB_ENV

      - name: Set THEME_PATH env variable.
        run: |
          export WEBROOT=$(php -r "echo json_decode(file_get_contents('composer.json'), true)['extra']['drupal-scaffold']['locations']['web-root'];")
          echo "THEME_PATH=$WEBROOT/themes/custom/${{ env.DOTENV_THEME_NAME }}" >> $GITHUB_ENV
          echo ${{ env.THEME_PATH }}

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.DOTENV_PHP_VERSION }}
          tools: composer:${{ env.composer_version }}
          extensions: gd, imagick

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.DOTENV_NODE_VERSION }}
          cache: 'npm'
          cache-dependency-path: ${{ env.THEME_PATH }}/package-lock.json

      - name: Validate composer.json
        run: composer validate

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer dependencies
        if: ${{ !env.ACT }}
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install composer dependencies.
        continue-on-error: true
        run: composer install --prefer-dist --no-progress --no-dev -o -n

      - name: Install node dependencies and build.
        run: |
          composer npm-install
          composer build-theme

      - name: Clean project.
        run: |
          # composer --no-dev update
          rm -rf ${{ env.THEME_PATH }}/node_modules

      - name: Generate Deployment Artifact
        run: |
          mkdir -p /tmp/deploy-artifact
          mv $GITHUB_WORKSPACE/{.[!.],}* /tmp/deploy-artifact/
          tar -czf deploy-artifact.tar.gz -C /tmp deploy-artifact
          mkdir -p artifacts
          mv deploy-artifact.tar.gz artifacts/

      - name: Upload Deployment Artifact
        if: ${{ !env.ACT }}
        uses: actions/upload-artifact@v4
        with:
          name: deploy-artifact
          path: artifacts/deploy-artifact.tar.gz

  deploy:
    name: Deploy Project
    runs-on: ubuntu-latest
    needs: test_and_build
    env:
      DESTINATION_REPOSITORY_BRANCH: ${{ github.ref_name }}
      USER_EMAIL: github-actions@github.com
      USER_NAME: github-actions
      SSH_AUTH_SOCK: /tmp/ssh_agent.sock
    steps:
      - name: Enable Debug Logging
        run: echo "ACTIONS_STEP_DEBUG=true" >> $GITHUB_ENV

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          sparse-checkout: |
            .env
            .github
          sparse-checkout-cone-mode: false
          path: gh

      - name: Dotenv Action
        uses: falti/dotenv-action@v1.1.2
        with:
          path: gh/.env
          export-variables: true
          export-variables-prefix: DOTENV_
          keys-case: bypass

      - name: Install SSH key
        uses: elevatedthird/actions/.github/actions/ssh-agent@main
        with:
          private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh_url: ${{ env.DOTENV_DESTINATION_REPOSITORY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
        env:
          SSH_AUTH_SOCK: ${{ env.SSH_AUTH_SOCK }}

      - name: Remove source repository checkout
        run: rm -rf ${{ github.workspace }}/gh

      - name: Download deploy artifact
        if: ${{ !env.ACT }}
        uses: actions/download-artifact@v4
        with:
          name: deploy-artifact
          path: ${{ runner.temp }}

      - name: Unzip Deploy Artifact into workspace
        run: |
          tar -xf ${{ runner.temp }}/deploy-artifact.tar.gz -C ${{ github.workspace }}
          mv ${{ github.workspace }}/deploy-artifact/{.[!.],}* ${{ github.workspace }}
          rm -rf ${{ github.workspace }}/deploy-artifact

      - name: Create gh_actions settings.php file
        run: |
          WEBROOT=$(php -r "echo json_decode(file_get_contents('composer.json'), true)['extra']['drupal-scaffold']['locations']['web-root'];")
          echo "<?php \$settings['deployment_identifier'] = '${DESTINATION_REPOSITORY_BRANCH}';" > settings.gh_actions.php
          mv settings.gh_actions.php ${{ github.workspace }}/$WEBROOT/sites/default/
          chmod 644 ${{ github.workspace }}/$WEBROOT/sites/default/settings.gh_actions.php

      - name: Configure Global Git settings
        run: |
          git config --global user.name $USER_NAME
          git config --global user.email $USER_EMAIL

      # Create a temporary branch to hold the artifacts
      - name: Configure Remote Repository and commit changes
        run: |
          # Create a clean branch for artifacts
          BRANCH_NAME="${GITHUB_REF#refs/heads/}"
          ARTIFACT_BRANCH="artifact-${BRANCH_NAME}"

          git checkout --orphan "${ARTIFACT_BRANCH}"

          # Copy full working tree into orphan branch
          git add -A --force > /dev/null 2>&1

          git commit -m "Build artifacts for ${BRANCH_NAME} (${GITHUB_SHA})"

      - name: Add artifact remote
        run: |
          git remote add artifact "${{ env.DOTENV_DESTINATION_REPOSITORY }}"
          git remote -v

      - name: Push the branch to the destination repository
        if: github.ref_type == 'branch'
        run: |
          BRANCH_NAME="${GITHUB_REF#refs/heads/}"
          ARTIFACT_BRANCH="artifact-${BRANCH_NAME}"

          # Force push to remote branch with the same name
          git push artifact "${ARTIFACT_BRANCH}:refs/heads/${BRANCH_NAME}" --force

        # This might not work if you tag a commit that's not on develop or main
      - name: Push the tag to the destination repository
        if: github.ref_type == 'tag'
        run: |
          TAG_NAME="${GITHUB_REF#refs/tags/}"

          # Create orphan tag commit
          git checkout --orphan "artifact-tag-${TAG_NAME}"

          git add -A --force > /dev/null 2>&1
          git commit -m "Artifact build for tag ${TAG_NAME}"
          git push artifact "HEAD:refs/tags/${TAG_NAME}" --force

  post_deploy:
    needs: deploy
    uses: elevatedthird/actions/.github/workflows/post_deploy.yml@main
    secrets: inherit
